/* @import "fontawesome.min.css";  */
body{
    font-family:'Montserrat', sans-serif;
    background-color: #eee;
   
}
/* navbar */
.sidebar{
    height: 100vh;
    /* background:linear-gradient(rgba(0,0,0, .4),rgba(0,0,0,.9)),
    url(/img/bg2.jpeg); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* box-shadow: 5px 7px 25px #999; */
   
}
.bottom-border{
    border-bottom: 1px groove #eee;
}
.sidebar-link{
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: all .4s;
}
.sidebar-link:hover{
    background-color: rgb(215, 225, 228);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.current{
    /* background-color: #f44336; */
    background-color: rgb(216, 234, 241);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:  2px 5px 10px rgb(142, 185, 221);
    transition: all .3s;
}
.current:hover{
    /* background-color: #f66436; */
    background-color: #ddedf7;

}
.search-input{
   
    background: transparent;
    border:none;
    border-radius: 0;
    transition: all .4s;
}
.search-input:focus{
    background: transparent;
    box-shadow: none;
   
}
.search-button{
    border-radius: 30px;
    padding:10px 16px;
    transition: all .4s;
    
}
.search-button:hover
{
    background-color: #eee;
    
}

.icon-parent{
    position: relative;
}
.icon-bullet::after{
    content: "";
    position: absolute;
    top:7px;
    left:15px;
    height: 12px;
    width:12px;
    background-color: #f44336;
    border-radius: 50%;
}
@media(max-width:768px){
    .sidebar{
        position: static;
        height: auto;
    }
    .top-navbar{
        position: static;
    }
    
}
/* end of navbar */
/* cards */
.card-common{
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
}
.card-common:hover{
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px)
}
/* end of cards */
/* task */
.task-border{
    border-left: 3px solid #f66436;
}
/* end of task */
@media(max-width:768px){
    .sidebar{
      position : static;
      height: auto;
    }
    .top-navbar{
      position: static;
    }
  }
  /* end of navbar */
  /* cards */
  .card-common{
    box-shadow: 1px 2px 5px #999;
    transition: all .4s;
  }
  .card-common:hover{
    box-shadow: 2px 3px 15px #999;
    transform: translateY(-1px);
  }
  /* end of cards */
  /* task list */
  .task-border{
    border-left: 3px solid #f66436;
  
  }
  @media (max-width:375px) {
    .card-body .card-text{
    height: 48px;
    }
    .table td .table th {
      font-size: 12px;
      padding: 0.5rem .05rem;
      vertical-align: center;
      border-top: 1px solid #dee2e6;
  }
  .sidebar {
    width: 90px !important;
    /* background-color: #212529; */
    min-height: calc(100vh - 56px);
  }
  }
  @media (max-width:414px) {
  
    .table td .table th {
      font-size: 12px!important;
      padding: 0.5rem 0.1rem;
      vertical-align: middle;
      border-top: 1px solid #dee2e6;
  }
  button.btn.btn-info {
      padding: 0 6px;
  }
  .pfooter{
    font-size: 10px!important;
  }
  footer ul.list-inline {
      font-size: 14px;
  }
  }
  @media (max-width:320px) {
  
    .fa-w-14 ,.fa-w-16 {
      width: 0.7rem!important;
  }
  }